# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Xcode
## User settings
xcuserdata/
*.xcuserstate
MMAChat/MMAChat.xcodeproj/project.xcworkspace/xcuserdata/
MMAChat/MMAChat.xcodeproj/xcuserdata/
MMAChat/MMAChat.xcodeproj/xcshareddata/xcschemes/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Logs
logs
*.log 
mma-ai-swift/mma-ai-swift.xcodeproj/xcshareddata/
